*{
    margin: 0;
    padding: 0;
    font family: sans-serif;
}


.banner{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
    opacity: .9;
}

h1 {
    background-color: crimson;
    animation: text_reveal_box 2s ease forwards;
    animation-delay: .5s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    text-align: center;    
    margin: 0 auto;
    width: 80%;
}

section {
    width: 100%;
    margin-bottom: 30px;
}

section img,
iframe {
    display: block;
    margin: 0 auto; 
}
h2 {
    color: blue;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: crimson;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}



/* keyframes */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0%;
    }
   
    100%{
        width: 0%;
        left: 100%;
    }
}

/* end keyframes */
